/* styles.css */
body {
    background-color: black;
}
#topbar {
    justify-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
#search {
    color: white;
    background-color: rgb(56, 56, 56);
    border-radius: 7px;
    border-width: 2px;
    width: 70%;
    align-self: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: text;
    -webkit-border-image: none;
    border-image: none;
    border-style: none;
    text-emphasis-color: black;
    text-shadow: 0px;
    height: 33px;
    position: absolute;
    top: 10px; left: 2px; right: 0; bottom: 0;
}
#search:focus {
    border-color: dodgerblue;
}
.ui {
    cursor: pointer;
    height: 33px;
    background-color: rgb(56, 56, 56);
    border-radius: 7px;
    background-color: rgba(56, 56, 56, 0);
    width: 33px;
    background-repeat: no-repeat;
    justify-items: center;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border: none;
}
.ui:focus {
    background-color: rgba(56, 56, 56, 0.600);
    border: none;
    outline: none;
    animation-name: pressed;
}
#reload {
    background-image: url("./src/reload.svg");
    position: absolute;
    top: 10px; left: 72%; right: 0; bottom: 0; }
.view {
    position: absolute; top: 50px; left: 0; right: 0; bottom: 0; 
    scroll-behavior: smooth;
}
@keyframes pressed {
    20% {background-color: rgba(56, 56, 56, 0.300)}
    40% {background-color: rgba(56, 56, 56, 0.400)}
    60% {background-color: rgba(56, 56, 56, 0.500)}
}
